<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>next</servlet-name>
        <servlet-class>next</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>enter</servlet-name>
        <servlet-class>enter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feed</servlet-name>
        <servlet-class>feed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminlog</servlet-name>
        <servlet-class>adminlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addfac</servlet-name>
        <servlet-class>addfac</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addsub</servlet-name>
        <servlet-class>addsub</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delfac</servlet-name>
        <servlet-class>delfac</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delsub</servlet-name>
        <servlet-class>delsub</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>gradecheck</servlet-name>
        <servlet-class>gradecheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>refresh</servlet-name>
        <servlet-class>refresh</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>studentry</servlet-name>
        <servlet-class>studentry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mstudentry</servlet-name>
        <servlet-class>mstudentry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>chpass</servlet-name>
        <servlet-class>chpass</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>next</servlet-name>
        <url-pattern>/next</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>enter</servlet-name>
        <url-pattern>/enter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feed</servlet-name>
        <url-pattern>/feed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminlog</servlet-name>
        <url-pattern>/adminlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addfac</servlet-name>
        <url-pattern>/addfac</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addsub</servlet-name>
        <url-pattern>/addsub</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delfac</servlet-name>
        <url-pattern>/delfac</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delsub</servlet-name>
        <url-pattern>/delsub</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gradecheck</servlet-name>
        <url-pattern>/gradecheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>refresh</servlet-name>
        <url-pattern>/refresh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studentry</servlet-name>
        <url-pattern>/studentry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mstudentry</servlet-name>
        <url-pattern>/mstudentry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>chpass</servlet-name>
        <url-pattern>/chpass</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
